
con-event-screen/con-event-api/bin/*
con-event-screen/con-event-api/obj/*

con-event-screen/con-event-api.tests/bin/*
con-event-screen/con-event-api.tests/obj/*

con-event-screen/con-event-services/obj/*
con-event-screen/con-event-services/bin/*


con-event-screen/con-event-screen/bin/*
con-event-screen/con-event-screen/obj/*
con-event-screen/con-event-db/obj/*
con-event-screen/con-event-db/bin/*
con-event-screen/con-event-screen/ApiDb.db-shm

con-event-screen/con-event-screen/ApiDb.db-wal

.DS_Store

.nuke/temp/

**/bin/*
**/obj/*

**/release/*
**/.idea/*
*.pb

build/Credentials.cs

*.db
*.db-shm
*.db-wal
