
.nuke/temp/

**/bin/*
**/obj/*

**/release/*
**/publish/*
**/.idea/*
*.pb

**/*.db
**/*.db-shm
**/*.db-wal

build/Credentials.cs



src/Screen.Main/Screen.Main/wwwroot/img/upload/

con-event-screen/con-event-screen/.DS_Store

src/Screen.Main/Screen.Main/pass.txt
