.marquee-wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.marquee-controls{
    display: flex;
    justify-content: space-between;
}

.marquee-table{
    display: flex;
    flex-direction: column;
}

.marquee-line{
    display: flex;
    flex-direction: row;
}

.marquee-item{
    min-width: 30%;
    margin: 0.5rem;
}

.marquee-text{
    width: 50%;
    margin: 0.5rem;
}

.wide{
    width: 100%;
}

.bold{
    font-weight: 800;
    font-size: 1.5rem;
}

.splitter{
    border-bottom: 2px solid black;
    margin: 1rem;
}