.event-logo{
    max-height: 100% !important; 
    object-fit: contain !important;
}

.event-logo-container{
    max-height: 100% !important;
    aspect-ratio: 1/1 !important;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
}