@inherits LayoutComponentBase
@using Screen.Ui.Components.Main

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<AlertComponent/>
<div class="main-screen">
    @Body
</div>