@using Screen.Services.Interfaces.Display
@inject IMarqueeService MarqueeService

<MudStack Row="true" Class="w-100 h-100 mh-100 mw-100 overflow-hidden">
    <div id="marquee">
        <MudText Typo="Typo.h1">@MarqueeService.MarqueeText</MudText>
    </div>
</MudStack>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MarqueeService.ReloadUi += (_, _) => InvokeAsync(StateHasChanged);
    }

}