@using con_event_services.Interfaces
@using con_event_db.Repositories
@using System.Linq;
@using System.Text
@inherits LayoutComponentBase
@inject IStateController Controller


<div class="footer">
    <div class="marquee-bar">
        @Marquee
    </div>
</div>

@code {
    
    public MarkupString Marquee { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        UpdateMarquee(null, EventArgs.Empty);
        Controller.MarqueeUpdated += UpdateMarquee;
    }

    private void UpdateMarquee(object? e, EventArgs? ee)
    {
        Marquee = GenerateMarkup();
        InvokeAsync(StateHasChanged);
    }

    private MarkupString GenerateMarkup()
    {
        var sb = new StringBuilder();

        sb.AppendLine("<marquee behavior=\"scroll\" direction=\"left\" scrollamount=\"10\">");

        sb.AppendLine("<p>");

        sb.AppendLine(string.Join(" // ", MarqueeRepository.Get().Select(x => x.Text)));
        
        sb.AppendLine("</p>");
        
        sb.AppendLine("</marquee>");

        return new MarkupString(sb.ToString());
    }
}