.games-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.table-row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.gh{
    font-weight: 1000;
    font-size: 4rem;
}

.page-title{
    width: 100%;
    color: var(--primary-color);
}

.game-divider{
    height: 2px;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
}

.green-text{
    color: green;
    font-weight: bolder !important;
}

.table-text{
    font-size: 3rem;
}