.header-scale{
    min-height: 15%;
    height: 15%;
    max-height: 15%;
    margin: 0 1rem;
}

.header-title{
    font-size: 6rem;
    font-weight: 1000;
    height: 100%;
    display: flex;
    align-items: center;
}