.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logoImg{
    max-height: 95%;
    height: 95%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    background: white;

    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.1));
}

.logoSpin{
    aspect-ratio: unset !important;
    animation: spin;
    animation-duration: 1s;
}

@keyframes spin {
    0%{
        transform: rotate3D(0,1,0,0deg);
    }

    33%{
        transform: rotate3D(0,1,0,180deg);
    }

    100%{
        transform: rotate3D(0,1,0,0deg);
    }
}