@inherits LayoutComponentBase

<div class="d-flex flex-row header-scale space-between">
    <div class="header-title">
        <MudText Typo="Typo.h1" Class="header-title">RatCon 2023</MudText>
    </div>
    <HeaderClock></HeaderClock>
    <HeaderIcon></HeaderIcon>
</div>

@code {
    
}