<div class="full">
    <MudStack>
        <MudTextField InputType="InputType.Password" @bind-Value="Password"/>
        <MudButton @onclick="Login" Color="Color.Primary">Authenticate</MudButton>
    </MudStack>
    
</div>

@code {
    private string Password { get; set; }

    
    [Parameter]
    public EventCallback<bool> LoginInvoked { get; set; }

    private void Login()
    {
        if (Password == "con-event-screen") LoginInvoked.InvokeAsync(true);
    }
}