@page "/Images"
@using Screen.Db.Models
@using Screen.Services.Interfaces
@using System.Diagnostics

@inject IImageService ImageService

<MudStack Justify="Justify.SpaceBetween" Class="h-100">
    <MudPaper Class="p-3">
        <h3>Images</h3>
    </MudPaper>
    <MudPaper Class="flex-grow-1">
        <MudDataGrid T="Image" Items="ImageService.Images">
            <Columns>
                <PropertyColumn Property="x => x.ImageName"/>
                <TemplateColumn Title="Actions">
                    <CellTemplate>
                        <MudStack Row="true">
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"></MudIconButton>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudPaper>
    <MudPaper Class="p-3">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="Save">Save</MudButton>
            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                <ButtonTemplate>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Outlined"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Image"
                               for="@context">
                        Upload
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>
        </MudStack>
    </MudPaper>
</MudStack>

@code {

    private void UploadFiles(IBrowserFile file)
    {
        Trace.WriteLine(file.Name);
        Console.Write(file.Name);
        //TODO upload the files to the server
    }
    
    private void Save()
    {
        
    }
}